.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__radio-list {
  list-style-type: none;
  text-transform: none;
}

.form__checkbox-list {
  list-style-type: none;
  text-transform: none;
}

.form__review--all-input {
  font-size: 12px;
  color: #858585;
}
