.index-intro__logo {
  background-image: url("../img/index-mobile-background-intro.jpg");
}

.index-intro__page-main--logo {
  padding: 90px 19px 28px;
}

@media (min-width: $tablet-width) {
  .index-intro__logo {
    background-image: url("../img/index-tablet-desktop-background-intro.jpg");
    background-color: $white;
    height: 518px;
    background-repeat: no-repeat;
  }

  .index-intro__page-main--logo {
    padding: 77px 154px 29px;
  }

  .welcome-logo {
    width: 461px;
    height: 350px;
  }

  .vector-line {
    width: 768px;
    height: 57px;
    position: absolute;
  }

  .index-intro__wrapper {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
