.index-advantages__list {
  margin: 0;
  padding: 0%;
  list-style-type: none;
}

.index-advantages__item--number {
  background-color: $lightblue;
  color: $white;
}

.index-advantages__item--number-grey {
  background-color: $lightgrey;
  color: $black;
}
