.page {
  height: 100%;
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
}
